@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 16rem;
  height: 24rem;
  border: 0.0625rem solid black;
  border-radius: 0.625rem;
}

.card-value {
  font-size: 5rem;
}

.card-figura-1 {
  font-size: 4rem;
}

.card-figura-2 {
  font-size: 4rem;
  transform: rotateX(180deg);
}

button {
  margin-top: 1.25rem;
  font-size: 1.5rem;
}
